body{
  padding:0;
  margin:0;
}
.fondo{
  width: 90%;
  height: 700px;
  position: relative;
  background-color: aliceblue;
  background-image: url(../images/fondo.jpg);
  background-position: center;
  background-size: cover;
}
.container-footer {
  width: 100%;
  padding: 40px 0;
  background: black;
  margin-top: 12.5%; }

.container-footer footer {
  max-width: 1200px;
  margin: auto; }

.container-footer footer .logo-footer {
  text-align: center; }

.container-footer footer .logo-footer img {
  width: 100px; }


.logo{
  width: 30px;
  height: 40px;
  background-color: #f6f6f6;
}

.stars{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
}

.stars span{
  position:relative;
}

.stars span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  
  /*星のサイズ調節*/
  transform:scale(0.20);
}

.stars span.s:before{
  
   /*20px 20pxが中央*/
  box-shadow: 20px 20px #FFFFFF;
}

.stars span.m:before{
  box-shadow: 
    /*1段目*/
    20px 10px #FFF176,
    /*2段目*/
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    /*3段目*/
    20px 30px #FFF176;
}

.stars span.l:before{
  box-shadow: 
    /*0段目*/
    20px  0px #FDD835,
    /*1段目*/
    20px 10px #FFF176,
    /*2段目*/
     0px 20px #FDD835,
    10px 20px #FFF176,
    20px 20px #FFFFFF,
    30px 20px #FFF176,
    40px 20px #FDD835,
    /*3段目*/
    20px 30px #FFF176,
    /*4段目*/
    20px 40px #FDD835;
}


 /*
星の位置とアニメーション指定
最初の秒はアニメーション時間、2つ目は開始までの時間
*/
.stars span:nth-child(1){left:10%; top:10%; animation: star-anim 8s 0s infinite;}
.stars span:nth-child(2){left:80%; top:20%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(3){left:60%; top:40%; animation: star-anim 5s 2s infinite;}
.stars span:nth-child(4){left:20%; top:70%; animation: star-anim 7s 3s infinite;}
.stars span:nth-child(5){left:80%; top:80%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(6){left:40%; top:10%; animation: star-anim 4s 0s infinite;}
.stars span:nth-child(7){left:10%; top:50%; animation: star-anim 7s 1s infinite;}
.stars span:nth-child(8){left:50%; top:50%; animation: star-anim 8s 2s infinite;}
.stars span:nth-child(9){left:90%; top:90%; animation: star-anim 5s 3s infinite;}
.stars span:nth-child(10){left:80%; top:50%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(11){left:90%; top:10%; animation: star-anim 5s 0s infinite;}
.stars span:nth-child(12){left:10%; top:80%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(13){left:30%; top:20%; animation: star-anim 7s 2s infinite;}
.stars span:nth-child(14){left:60%; top:90%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(15){left:80%; top:50%; animation: star-anim 7s 4s infinite;}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: whitesmoke;
  text-align: center; }

.img-carro{
  width: 9%;
  align-items: flex-end;
  height: 1%;
  object-fit: cover;
  border-radius: 2%; 

}
.h1 {
  top: 1%;
  color: #000000;
  padding: 3%;
  text-decoration: none;
  border-radius: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.h2-n {
    width: 0,5rem;
    color: #000000;
    padding: 3%;
    text-decoration: none;
    border-radius: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.foto3 {
    grid-area: foto3;
    width: 90%;
    justify-self: center;
    padding: 3px; }

body {
  background: #f6f6f6; }

header {
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: black;
  box-shadow: 0 4px 25px -22px black;
  z-index: 10; }

.header-content {
  max-width: 100%;
  display: flex;
  justify-content: flex-start; }





/*Post - Publicaciones*/
.container-post {
  max-width: 1200px;
  margin: auto; }

.posts {
  width: 99%;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  grid-gap: 20px;
  margin-top: 20px;
  padding: 20px; }

.posts .post {
  background: #fff;
  box-shadow: 0 0 20px -20px black;
  border-radius: 6px;
  overflow: unset;
  padding-bottom: 20px; }

.post .ctn-img {
  width: 100%; }

.post .ctn-img img {
  width: 100%;
  height: 10%;
  object-fit: cover;
  border-radius: 2%; }



/*  adaptable a moviles*/
@media screen and (max-width: 1220px) {
  .header-content{
    max-width: 100%;
    padding: 0 20px; } }

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden; }
 }
